<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Posts</title>
</head>
<body>
    <h2>News Feed</h2>
    <% posts=posts.reverse %>
    
        <% posts.each do |post| %>
                User: <%=post.user.username.capitalize%> <br />
                <h2><%= post.title %></h2><br />
                <hr>
                <p><%= post.content %> </p><br />
                <% if post.image_url != ""%>
                    <img src=<%= post.image_url%>> <br />
                <% end %>
                <% if post.video_url != "" %>
                    <iframe src=<%= post.video_url%>>
                    width="560" height="315" frameborder="0" 
                    allowfullscreen>
                    </iframe> <br />
                <% end %>
                <%=post.hashtags%> <br />
                <hr>
        <% end %>
    
</body>
</html>