<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Searched Posts</h2>
    <% @@posts_to_show=@@posts_to_show.reverse %>
    <% already_posted=[] %>
    <% for post in @@posts_to_show %>
        <% if already_posted.include?(post.id) %>
            <% next %>
        <% else %>
            <% already_posted.push(post.id)%>
        <div class="post_container">
            <div class="profile_pic_thumbnail_container">
            <img class="profile_pic_thumbnail" src=<%=post.user.profile_picture_url%>>
            </div>
            <div class="post_username">
            <h3><%=post.user.username.capitalize%></h3> 
            </div>
            <div class="post_title">
            <h3><%= post.title %></h3>
            </div>
            <hr size="3">
            <div class="post_content">
            <p><%= post.content %> </p><br />
            </div>
            <% if post.image_url != ""%>
                <div class="image_container">
                <img src=<%= post.image_url%>> <br />
                </div>
            <% end %>
            <% if post.video_url != "" %>
                <div class="video_container">
                <iframe class="video" src=<%= post.video_url%>>
                width="560" height="315" frameborder="0" 
                allowfullscreen>
                </iframe> <br />
                </div>
            <% end %>
            <div class="hashtag_container">
                <%individual_hashtags=post.hashtags.split(" ")%>
                <%individual_hashtags.each do |hashtag|%>
                <% end %>
            </div>
        </div>
        <% end %>
        <% end %>
    <%@@posts_to_show=[]%>
</body>
</html>